{% extends 'base.html.twig' %}

{% block title %}All Tasks{% endblock %}

{% block body %}
    {% for task in tasks %}
        <form action="" method="post">
            <p name="{{task.id}}" hidden></p>
            <p name="{{task.name}}">{{task.name}}</p>
            <input type="checkbox" name="{{task.status}}" value="{{task.status}}">
            <input type="submit" value="update">
        </form>
    {% endfor %}
{% endblock %}
